$ocre: #d1451e;
$coral: #f0633c;
$coral-claro: #ffdbd1;
$creme: #fffaf3;
$verde-escuro: #263a29;
$verde-medio: #3d6d4a;
$cinza: #444444;
$cinza-claro: #efefef;
$branco: #fff;

$font-family-padrao: Nunito Sans, sans-serif;
$cabecalhos: Paytone One, sans-serif;
